.arknova-icon {
  background: url("img/icons.png");
  background-repeat: no-repeat;

  &.icon-action-animals {
    background-position: 42.33160621761658% 21.450777202072537%;
    background-size: 1735.593220338983%;
  }

  &.icon-action-association {
    background-position: 49.48186528497409% 21.450777202072537%;
    background-size: 1735.593220338983%;
  }

  &.icon-action-build {
    background-position: 56.6321243523316% 21.450777202072537%;
    background-size: 1735.593220338983%;
  }

  &.icon-action-card {
    background-position: 43.22120285423038% 35.93992749870533%;
    background-size: 2381.3953488372094%;
  }

  &.icon-action-card-animals {
    background-position: 48.62385321100918% 35.93992749870533%;
    background-size: 2381.3953488372094%;
  }

  &.icon-action-card-association {
    background-position: 54.02650356778798% 35.93992749870533%;
    background-size: 2381.3953488372094%;
  }

  &.icon-action-card-build {
    background-position: 59.42915392456677% 35.93992749870533%;
    background-size: 2381.3953488372094%;
  }

  &.icon-action-card-cards {
    background-position: 64.83180428134557% 35.93992749870533%;
    background-size: 2381.3953488372094%;
  }

  &.icon-action-card-special {
    background-position: 70.93264248704664% 21.450777202072537%;
    background-size: 1735.593220338983%;
  }

  &.icon-action-card-sponsors {
    background-position: 70.23445463812436% 35.93992749870533%;
    background-size: 2381.3953488372094%;
  }

  &.icon-action-cards {
    background-position: 63.78238341968911% 21.450777202072537%;
    background-size: 1735.593220338983%;
  }

  &.icon-action-sponsors {
    background-position: 78.08290155440415% 21.450777202072537%;
    background-size: 1735.593220338983%;
  }

  &.icon-adapt {
    background-position: 96.29629629629629% 68.81993896236011%;
    background-size: 1563.358778625954%;
  }

  &.icon-add-worker {
    background-position: 76.85137234593475% 35.93992749870533%;
    background-size: 1750.4273504273506%;
  }

  &.icon-all-animals {
    background-position: 74.63692946058092% 68.89002036659878%;
    background-size: 1706.6666666666667%;
  }

  &.icon-all-continents {
    background-position: 81.89834024896265% 68.89002036659878%;
    background-size: 1706.6666666666667%;
  }

  &.icon-all-symbols {
    background-position: 67.37551867219918% 68.92511462047885%;
    background-size: 1706.6666666666667%;
  }

  &.icon-animal-magnet {
    background-position: 41.239754098360656% 74.31749241658241%;
    background-size: 2133.333333333333%;
  }

  &.icon-animal-size-2 {
    background-position: 81.5078960774325% 43.064182194616976%;
    background-size: 2409.4117647058824%;
  }

  &.icon-animal-size-3 {
    background-position: 86.85685175751401% 43.064182194616976%;
    background-size: 2409.4117647058824%;
  }

  &.icon-animal-size-4 {
    background-position: 92.20580743759552% 43.064182194616976%;
    background-size: 2409.4117647058824%;
  }

  &.icon-animal-size-x {
    background-position: 97.55476311767703% 43.064182194616976%;
    background-size: 2409.4117647058824%;
  }

  &.icon-appeal {
    background-position: 84.05723045477772% 21.450777202072537%;
    background-size: 2250.5494505494507%;
  }

  &.icon-bonus {
    background-position: 83.946141895391% 35.93992749870533%;
    background-size: 1750.4273504273506%;
  }

  &.icon-bonus-extra-shift {
    background-position: 91.04091144484723% 35.93992749870533%;
    background-size: 1750.4273504273506%;
  }

  &.icon-bonus-icon {
    background-position: 98.13568099430347% 35.93992749870533%;
    background-size: 1750.4273504273506%;
  }

  &.icon-bonus-ignore-conditions {
    background-position: 1.035732780942517% 43.0864836872087%;
    background-size: 1750.4273504273506%;
  }

  &.icon-bonus-increased-hand {
    background-position: 8.130502330398757% 43.0864836872087%;
    background-size: 1750.4273504273506%;
  }

  &.icon-bonus-kiosk-pavilion {
    background-position: 15.225271879854999% 43.0864836872087%;
    background-size: 1750.4273504273506%;
  }

  &.icon-bonus-scoring-cards {
    background-position: 22.32004142931124% 43.0864836872087%;
    background-size: 1750.4273504273506%;
  }

  &.icon-bonus-sponsor {
    background-position: 1.0351966873706004% 50.15527950310559%;
    background-size: 1765.5172413793102%;
  }

  &.icon-bonus-sponsor-gray {
    background-position: 29.41481097876748% 43.0864836872087%;
    background-size: 1750.4273504273506%;
  }

  &.icon-bordered-immediate {
    background-position: 68.89460154241645% 56.92941782586296%;
    background-size: 1988.3495145631066%;
  }

  &.icon-bordered-worker {
    background-position: 92.14982042072857% 56.78314491264131%;
    background-size: 2068.686868686869%;
  }

  &.icon-break {
    background-position: 90.98445595854923% 21.450777202072537%;
    background-size: 1735.593220338983%;
  }

  &.icon-clever {
    background-position: 35.932721712538225% 43.0864836872087%;
    background-size: 2381.3953488372094%;
  }

  &.icon-condition {
    background-position: 53.005181347150256% 68.96024464831805%;
    background-size: 1735.593220338983%;
  }

  &.icon-conservation {
    background-position: 98.13471502590674% 21.450777202072537%;
    background-size: 1735.593220338983%;
  }

  &.icon-conservation-project {
    background-position: 24.08429503261415% 74.5814307458143%;
    background-size: 3723.6363636363635%;
  }

  &.icon-conservation-project-base {
    background-position: 27.84746613146011% 74.5814307458143%;
    background-size: 3723.6363636363635%;
  }

  &.icon-constriction {
    background-position: 59.5213319458897% 13.215400624349636%;
    background-size: 1625.3968253968253%;
  }

  &.icon-coral {
    background-position: 96.91745036572624% 1.049317943336831%;
    background-size: 1528.3582089552237%;
  }

  &.icon-cut-down {
    background-position: 1.0362694300518136% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-determination {
    background-position: 41.335372069317025% 43.0864836872087%;
    background-size: 2381.3953488372094%;
  }

  &.icon-different-shapes {
    background-position: 81.35416666666667% 50.05165289256198%;
    background-size: 1600%;
  }

  &.icon-digging {
    background-position: 8.186528497409325% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-diving {
    background-position: 15.33678756476684% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-enclosure-empty {
    background-position: 1.0346611484738748% 63.29568788501027%;
    background-size: 1780.8695652173913%;
  }

  &.icon-enclosure-green {
    background-position: 8.01862390067253% 63.29568788501027%;
    background-size: 1780.8695652173913%;
  }

  &.icon-enclosure-not-regular {
    background-position: 22.71062271062271% 28.808290155440414%;
    background-size: 1494.890510948905%;
  }

  &.icon-enclosure-not-regular-rock {
    background-position: 32.207084468664846% 28.808290155440414%;
    background-size: 961.5023474178404%;
  }

  &.icon-enclosure-regular {
    background-position: 15.002586652871186% 63.29568788501027%;
    background-size: 1780.8695652173913%;
  }

  &.icon-enclosure-regular-rock {
    background-position: 22.7394328517924% 63.29568788501027%;
    background-size: 1144.1340782122904%;
  }

  &.icon-enclosure-regular-rock-rock {
    background-position: 33.386837881219904% 63.29568788501027%;
    background-size: 1144.1340782122904%;
  }

  &.icon-enclosure-regular-rock-water {
    background-position: 44.0342429106474% 63.29568788501027%;
    background-size: 1144.1340782122904%;
  }

  &.icon-enclosure-regular-water {
    background-position: 54.68164794007491% 63.29568788501027%;
    background-size: 1144.1340782122904%;
  }

  &.icon-enclosure-regular-water-water {
    background-position: 65.32905296950241% 63.29568788501027%;
    background-size: 1144.1340782122904%;
  }

  &.icon-enclosure-size-2 {
    background-position: 4.284976768198245% 74.73309608540926%;
    background-size: 1845.045045045045%;
  }

  &.icon-enclosure-size-3 {
    background-position: 75.33470648815654% 56.870818322182195%;
    background-size: 1932.0754716981132%;
  }

  &.icon-enclosure-special-aquarium {
    background-position: 97.70408163265306% 56.724845995893226%;
    background-size: 2327.2727272727275%;
  }

  &.icon-enclosure-special-large-bird-aviary {
    background-position: 72.44897959183673% 63.29568788501027%;
    background-size: 2327.2727272727275%;
  }

  &.icon-enclosure-special-petting-zoo {
    background-position: 79.33541017653167% 63.29568788501027%;
    background-size: 1678.688524590164%;
  }

  &.icon-enclosure-special-reptile-house {
    background-position: 84.47142134547295% 63.29568788501027%;
    background-size: 2884.5070422535214%;
  }

  &.icon-endgame {
    background-position: 7.886754297269969% 50.15527950310559%;
    background-size: 2925.714285714286%;
  }

  &.icon-extra-shift {
    background-position: 42.69430051813472% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-extra-shift-bordered {
    background-position: 89.85959438377536% 13.208528341133647%;
    background-size: 1638.4%;
  }

  &.icon-fac {
    background-position: 6.004140786749482% 69.24257932446264%;
    background-size: 1765.5172413793102%;
  }

  &.icon-fac-generic {
    background-position: 89.85811875985287% 49.94845360824742%;
    background-size: 1412.4137931034484%;
  }

  &.icon-fac-rep-hand {
    background-position: 98.52863899106674% 49.94845360824742%;
    background-size: 1412.4137931034484%;
  }

  &.icon-fac-science-bird {
    background-position: 1.0509721492380453% 56.95876288659794%;
    background-size: 1412.4137931034484%;
  }

  &.icon-fac-science-herbivore {
    background-position: 9.721492380451918% 56.95876288659794%;
    background-size: 1412.4137931034484%;
  }

  &.icon-fac-science-marine {
    background-position: 18.39201261166579% 56.95876288659794%;
    background-size: 1412.4137931034484%;
  }

  &.icon-fac-science-predator {
    background-position: 27.062532842879666% 56.95876288659794%;
    background-size: 1412.4137931034484%;
  }

  &.icon-fac-science-primate {
    background-position: 35.73305307409353% 56.95876288659794%;
    background-size: 1412.4137931034484%;
  }

  &.icon-fac-science-rep {
    background-position: 44.40357330530741% 56.95876288659794%;
    background-size: 1412.4137931034484%;
  }

  &.icon-fac-science-reptile {
    background-position: 53.07409353652128% 56.95876288659794%;
    background-size: 1412.4137931034484%;
  }

  &.icon-fac-science-science {
    background-position: 61.74461376773516% 56.95876288659794%;
    background-size: 1412.4137931034484%;
  }

  &.icon-gates {
    background-position: 35.044525929806184% 69.03061224489797%;
    background-size: 1473.381294964029%;
  }

  &.icon-hand {
    background-position: 49.84455958549223% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-hand-cards {
    background-position: 46.65645737621235% 68.99541050484447%;
    background-size: 2301.123595505618%;
  }

  &.icon-harbor {
    background-position: 10.974358974358974% 74.6951219512195%;
    background-size: 2089.795918367347%;
  }

  &.icon-hollywood {
    background-position: 1.0224948875255624% 21.49532710280374%;
    background-size: 2226.086956521739%;
  }

  &.icon-hunter {
    background-position: 38.903259182617695% 50.12933264355923%;
    background-size: 1780.8695652173913%;
  }

  &.icon-hypnosis {
    background-position: 67.11758584807492% 13.215400624349636%;
    background-size: 1625.3968253968253%;
  }

  &.icon-icecream {
    background-position: 74.3940990516333% 1.053740779768177%;
    background-size: 1365.3333333333335%;
  }

  &.icon-ignore-condition {
    background-position: 60.15544041450778% 68.96024464831805%;
    background-size: 1735.593220338983%;
  }

  &.icon-immediate {
    background-position: 0.997506234413965% 74.77110885045778%;
    background-size: 4762.790697674419%;
  }

  &.icon-immediate-income {
    background-position: 1.0282776349614395% 1.0905125408942202%;
    background-size: 1988.3495145631066%;
  }

  &.icon-income {
    background-position: 47.670807453416145% 73.94366197183099%;
    background-size: 1765.5172413793102%;
  }

  &.icon-institute {
    background-position: 1.0141987829614605% 69.34905176832393%;
    background-size: 2694.736842105263%;
  }

  &.icon-kiosk {
    background-position: 12.832550860719873% 50.15527950310559%;
    background-size: 1563.358778625954%;
  }

  &.icon-kiosk-or-pavilion {
    background-position: 81.58844765342961% 1.0509721492380453%;
    background-size: 1878.8990825688074%;
  }

  &.icon-kiosk-pavilion {
    background-position: 98.42354177614293% 13.208528341133647%;
    background-size: 1412.4137931034484%;
  }

  &.icon-kiosk-plus-pavilion {
    background-position: 35.18134715025907% 21.461897356143076%;
    background-size: 1735.593220338983%;
  }

  &.icon-lake {
    background-position: 86.29032258064517% 56.81233933161953%;
    background-size: 3200%;
  }

  &.icon-listener-any-zoo {
    background-position: 45.887221934816345% 50.12933264355923%;
    background-size: 1780.8695652173913%;
  }

  &.icon-listener-your-zoo {
    background-position: 52.871184687015% 50.12933264355923%;
    background-size: 1780.8695652173913%;
  }

  &.icon-map-13-slot {
    background-position: 81.69665809768637% 56.870818322182195%;
    background-size: 1988.3495145631066%;
  }

  &.icon-map10 {
    background-position: 95.89533093894305% 63.263211903540274%;
    background-size: 2068.686868686869%;
  }

  &.icon-map9 {
    background-position: 89.8469387755102% 63.29568788501027%;
    background-size: 2327.2727272727275%;
  }

  &.icon-mark {
    background-position: 14.101904271744726% 21.484172288531393%;
    background-size: 1950.4761904761906%;
  }

  &.icon-money {
    background-position: 36.01823708206687% 74.46808510638297%;
    background-size: 2767.5675675675675%;
  }

  &.icon-multiplier {
    background-position: 47.488348006214395% 43.0864836872087%;
    background-size: 1750.4273504273506%;
  }

  &.icon-no-bonus {
    background-position: 54.58311755567063% 43.0864836872087%;
    background-size: 1750.4273504273506%;
  }

  &.icon-one-animal {
    background-position: 20.695020746887966% 21.473029045643152%;
    background-size: 1706.6666666666667%;
  }

  &.icon-one-continent {
    background-position: 27.95643153526971% 21.473029045643152%;
    background-size: 1706.6666666666667%;
  }

  &.icon-other-player {
    background-position: 5.741127348643007% 13.256784968684759%;
    background-size: 1551.5151515151515%;
  }

  &.icon-other-players {
    background-position: 56.994818652849744% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-partner-Africa {
    background-position: 7.700592353257943% 1.0554089709762533%;
    background-size: 1072.2513089005236%;
  }

  &.icon-partner-Americas {
    background-position: 19.063004846526656% 1.0554089709762533%;
    background-size: 1072.2513089005236%;
  }

  &.icon-partner-Asia {
    background-position: 30.42541733979537% 1.0554089709762533%;
    background-size: 1072.2513089005236%;
  }

  &.icon-partner-Australia {
    background-position: 41.78782983306408% 1.0554089709762533%;
    background-size: 1072.2513089005236%;
  }

  &.icon-partner-Europe {
    background-position: 53.150242326332794% 1.0554089709762533%;
    background-size: 1072.2513089005236%;
  }

  &.icon-partner-zoo {
    background-position: 88.56259659969088% 68.89002036659878%;
    background-size: 1914.0186915887848%;
  }

  &.icon-perception {
    background-position: 59.85514743921366% 50.12933264355923%;
    background-size: 1780.8695652173913%;
  }

  &.icon-pilfering {
    background-position: 74.71383975026015% 13.215400624349636%;
    background-size: 1625.3968253968253%;
  }

  &.icon-place-cube {
    background-position: 20.37987679671458% 50.15527950310559%;
    background-size: 2048%;
  }

  &.icon-pouch {
    background-position: 66.83911019141232% 50.12933264355923%;
    background-size: 1780.8695652173913%;
  }

  &.icon-pouched {
    background-position: 31.706089582284854% 74.50582868727825%;
    background-size: 3357.377049180328%;
  }

  &.icon-quarters {
    background-position: 66.75037669512808% 73.57357357357357%;
    background-size: 3592.9824561403507%;
  }

  &.icon-reef {
    background-position: 13.44% 69.24257932446264%;
    background-size: 1183.815028901734%;
  }

  &.icon-reef-short {
    background-position: 22.843942505133473% 69.24257932446264%;
    background-size: 2048%;
  }

  &.icon-release-animal {
    background-position: 26.759834368530022% 50.15527950310559%;
    background-size: 1765.5172413793102%;
  }

  &.icon-reputation {
    background-position: 64.14507772020725% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-reputation-for-science {
    background-position: 64.61704422869471% 1.0542962572482868%;
    background-size: 1055.6701030927834%;
  }

  &.icon-restaurant {
    background-position: 17.291666666666668% 74.6951219512195%;
    background-size: 1600%;
  }

  &.icon-rock {
    background-position: 54.710144927536234% 73.94366197183099%;
    background-size: 1765.5172413793102%;
  }

  &.icon-scavenging {
    background-position: 71.29533678756476% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-scoring-hand {
    background-position: 78.44559585492227% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-search {
    background-position: 85.59585492227978% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-search-bird {
    background-position: 13.63872982821447% 13.222280062467465%;
    background-size: 1612.5984251968503%;
  }

  &.icon-search-herbivore {
    background-position: 21.290994273815723% 13.222280062467465%;
    background-size: 1612.5984251968503%;
  }

  &.icon-search-predator {
    background-position: 28.94325871941697% 13.222280062467465%;
    background-size: 1612.5984251968503%;
  }

  &.icon-search-primate {
    background-position: 36.59552316501822% 13.222280062467465%;
    background-size: 1612.5984251968503%;
  }

  &.icon-search-reptile {
    background-position: 44.24778761061947% 13.222280062467465%;
    background-size: 1612.5984251968503%;
  }

  &.icon-search-sea-animal {
    background-position: 51.900052056220716% 13.222280062467465%;
    background-size: 1612.5984251968503%;
  }

  &.icon-search-sponsor-person {
    background-position: 92.74611398963731% 28.808290155440414%;
    background-size: 1735.593220338983%;
  }

  &.icon-shark-attack {
    background-position: 1.0362694300518136% 35.95854922279793%;
    background-size: 1735.593220338983%;
  }

  &.icon-snapping {
    background-position: 60.703363914373085% 43.0864836872087%;
    background-size: 2381.3953488372094%;
  }

  &.icon-special-enclosures {
    background-position: 88.92931392931392% 1.0498687664041995%;
    background-size: 1651.6129032258063%;
  }

  &.icon-sponsor-card {
    background-position: 33.16404266124937% 50.15527950310559%;
    background-size: 2592.4050632911394%;
  }

  &.icon-sponsor-person-card {
    background-position: 98.26707441386341% 28.808290155440414%;
    background-size: 2381.3953488372094%;
  }

  &.icon-store {
    background-position: 8.186528497409325% 35.95854922279793%;
    background-size: 1735.593220338983%;
  }

  &.icon-stored {
    background-position: 15.33678756476684% 35.95854922279793%;
    background-size: 1735.593220338983%;
  }

  &.icon-strbreak {
    background-position: 22.487046632124354% 35.95854922279793%;
    background-size: 1735.593220338983%;
  }

  &.icon-strength {
    background-position: 29.637305699481864% 35.95854922279793%;
    background-size: 1735.593220338983%;
  }

  &.icon-sunbathing {
    background-position: 73.82307294361097% 50.12933264355923%;
    background-size: 1780.8695652173913%;
  }

  &.icon-take-in-deck {
    background-position: 65.97151576805696% 43.0864836872087%;
    background-size: 2497.560975609756%;
  }

  &.icon-take-in-range {
    background-position: 71.15971515768057% 43.0864836872087%;
    background-size: 2497.560975609756%;
  }

  &.icon-take-in-range-folder-cost {
    background-position: 41.77598385469223% 69.03061224489797%;
    background-size: 3103.030303030303%;
  }

  &.icon-take-in-range-or-deck {
    background-position: 76.23158963941087% 43.0864836872087%;
    background-size: 2592.4050632911394%;
  }

  &.icon-tower {
    background-position: 1.0111223458038423% 13.31236897274633%;
    background-size: 2925.714285714286%;
  }

  &.icon-upgrade-card {
    background-position: 28.76782077393075% 69.1717791411043%;
    background-size: 2438.095238095238%;
  }

  &.icon-venom {
    background-position: 82.31009365244537% 13.215400624349636%;
    background-size: 1625.3968253968253%;
  }

  &.icon-water {
    background-position: 61.74948240165632% 73.94366197183099%;
    background-size: 1765.5172413793102%;
  }

  &.icon-wave {
    background-position: 73.57404500261643% 73.42657342657343%;
    background-size: 1494.890510948905%;
  }

  &.icon-xtoken {
    background-position: 36.787564766839374% 35.95854922279793%;
    background-size: 1735.593220338983%;
  }

  &.icon-xtoken-bordered {
    background-position: 6.853582554517133% 21.49532710280374%;
    background-size: 1678.688524590164%;
  }
}
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

.log .icon-container-money {
  font-size: 1.2em;
  vertical-align: baseline;
}

.icon-container {
  display: inline-block;
  vertical-align: bottom;
  //  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1em;

  &.icon-container-strength {
    margin-top: -0.1em;
    .icon-strength {
      width: 1.2em;
      height: 1.2em;
      color: white;
      font-family: "MyriadPro-Bold";
      font-size: 1.4em;
      line-height: 1.1em;
      text-align: center;
      text-indent: 2px;
      word-wrap: normal;
    }
  }

  &.icon-container-strbreak,
  &.icon-container-break {
    margin-top: -0.8em;
  }

  .icon-break,
  .icon-strbreak {
    width: 1.8em;
    height: 2em;
    color: white;
    font-family: "MyriadPro-Bold";
    font-size: 1.5em;
    line-height: 2.8em;
    text-align: center;
    padding-right: 0.2em;
  }

  .icon-break {
    font-size: 1.7em;
    width: 1.5em;
    height: 1.8em;
    padding-right: 0.3em;
    line-height: 2.3em;
  }

  .icon-action-cards,
  .icon-action-animals,
  .icon-action-sponsors,
  .icon-action-association,
  .icon-action-build {
    width: 1.8em;
    height: 1.8em;
  }

  .icon-action-card,
  .icon-action-card-cards,
  .icon-action-card-animals,
  .icon-action-card-sponsors,
  .icon-action-card-association,
  .icon-action-card-build,
  .icon-snapping,
  .icon-clever,
  .icon-determination,
  .icon-animal-size-2,
  .icon-animal-size-3,
  .icon-animal-size-4 {
    width: 1.242307692em;
    height: 1.7em;

    color: transparent;
  }
  .icon-take-in-range,
  .icon-take-in-deck,
  .icon-take-in-range-or-deck {
    width: 1.1em;
    height: 1.7em;
    color: transparent;
  }
  .icon-take-in-range-folder-cost {
    width: 1.2em;
    height: 1.75em;
    color: transparent;
  }

  .icon-bonus-sponsor {
    width: 1.6em;
    height: 1.7em;
  }

  .icon-money,
  .icon-reputation,
  .icon-conservation,
  .icon-appeal {
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    font-family: "MyriadPro-Bold";
    letter-spacing: -1px;
    text-indent: -1px;
    color: white;
    font-size: 1em;
    line-height: 1.2em;
    box-sizing: border-box;
  }
  &.icon-container-appeal {
    vertical-align: text-bottom;
  }

  .icon-money {
    border-radius: 20%;
  }
  .icon-conservation {
    color: black;
  }

  .icon-appeal {
    color: black;
    width: 1em;
  }

  .icon-multiplier {
    width: 1.5em;
    height: 1.5em;
  }
  &.icon-container-multiplier {
    vertical-align: top;
  }

  .icon-enclosure-regular,
  .icon-enclosure-empty {
    text-align: center;
    font-family: "MyriadPro-Bold";
    letter-spacing: -1px;
    color: white;
    font-size: 1.1em;
    width: 1.61em;
    height: 1.4em;
    line-height: 1.55em;
  }

  .icon-enclosure-size-2 {
    width: 1.8em;
    height: 1.5em;
  }

  .icon-enclosure-size-3 {
    width: 1.5em;
    height: 1.5em;
  }

  .icon-enclosure-special-large-bird-aviary {
    height: 1.7em;
    width: 1.6em;
  }

  .badge-icon {
    width: 1.5em;
    height: 1.5em;
    background-image: url("img/zoo-card-badges.jpg");
    background-size: 500% 700%;
    border-radius: 50%;
    border: 2px solid white;
  }

  .icon-all-continents {
    width: 1.6em;
    height: 1.2em;
  }
  .icon-all-animals {
    width: 1.6em;
    height: 1.2em;
  }

  .icon-xtoken,
  .icon-xtoken-bordered,
  .icon-add-worker {
    width: 1.3em;
    height: 1.3em;
  }

  .icon-partner-zoo {
    width: 1.3em;
    height: 1.16em;
  }

  .icon-fac {
    width: 1.52em;
    height: 1.3em;
  }

  .icon-upgrade-card {
    width: 1.4em;
    height: 1.6em;
  }

  .icon-release-animal {
    width: 1.8em;
    height: 1.8em;
  }
  .icon-water,
  .icon-rock {
    width: 1.8em;
    height: 1em;
  }

  .icon-income {
    width: 2.7em;
    height: 1.2em;
  }

  .icon-kiosk {
    width: 1.7em;
    height: 1.55em;
  }
  .icon-pavilion {
    width: 1.7em;
    height: 1.55em;
  }

  .icon-pouch {
    width: 1.7em;
    height: 1.7em;
    display: flex;
    justify-content: start;
    align-items: end;

    span {
      font-family: "MyriadPro-Bold";
      letter-spacing: -1px;
      color: white;
      font-size: 0.9em;
      line-height: 0.7em;
      margin-left: 0.1em;
    }
  }

  .icon-special-enclosures {
    width: 1.55em;
    height: 1.78em;
  }

  .icon-endgame {
    width: 1.04em;
    height: 1.7em;
  }

  .icon-place-cube {
    width: 1.48em;
    height: 1.7em;
  }

  .icon-sponsor-card,
  .icon-sponsor-person-card {
    width: 1.15em;
    height: 1.7em;
  }

  .icon-tower {
    width: 1.4em;
    height: 3em;
  }

  .icon-gates {
    width: 3em;
    height: 1.7em;
  }

  .icon-harbor {
    width: 2.3em;
    height: 2em;
  }

  .icon-restaurant {
    width: 3em;
    height: 2em;
  }

  .icon-institute {
    width: 2em;
    height: 2.4em;
  }

  .icon-hollywood {
    width: 1.2em;
    height: 1.8em;
  }

  .icon-lake {
    width: 1.3em;
    height: 1.8em;
  }

  .icon-icecream {
    width: 1.8em;
    height: 2em;
  }

  .icon-map9 {
    width: 1.7em;
    height: 1.9em;
  }

  .icon-kiosk-pavilion {
    width: 1.7em;
    height: 1.6em;
    span {
      color: transparent;
    }
  }

  .icon-kiosk-or-pavilion {
    width: 1.35em;
    height: 1.8em;
  }

  .icon-kiosk-plus-pavilion {
    width: 1.8em;
    height: 1.8em;
  }

  .icon-wave {
    width: 6.3em;
    height: 2em;
  }

  .icon-mark {
    width: 1.8em;
    height: 2em;
    color: transparent;
  }

  &.icon-container-coral {
    vertical-align: sub;
    .icon-coral {
      width: 1.4em;
      height: 1.4em;
    }
  }

  .icon-hunter,
  .icon-sunbathing,
  .icon-digging,
  .icon-shark-attack,
  .icon-cut-down,
  .icon-scavenging {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "MyriadPro-Bold";
    span {
      font-size: 0.7em;
    }
  }
  .icon-shark-attack,
  .icon-cut-down,
  .icon-hunter,
  .icon-scavenging {
    justify-content: flex-start;
  }
  .icon-hunter,
  .icon-shark-attack {
    span {
      margin-left: 0.3em;
    }
  }
  .icon-scavenging {
    span {
      margin-left: 0.1em;
    }
  }

  .icon-extra-shift,
  .icon-extra-shift-bordered {
    width: 1.5em;
    height: 1.5em;
  }

  .icon-different-shapes {
    width: 1.5em;
    height: 1.3em;
  }

  .icon-condition {
    width: 2em;
    height: 1.5em;
  }

  .icon-ignore-condition {
    width: 1.4em;
    height: 1em;
  }

  .icon-one-animal,
  .icon-one-continent {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 2px solid white;
  }

  .icon-search-predator,
  .icon-search-bird,
  .icon-search-reptile,
  .icon-search-herbivore,
  .icon-search-sea-animal,
  .icon-search-primate,
  .icon-search-sponsor-person {
    width: 1.5em;
    height: 1.5em;
  }

  .icon-reputation-for-science {
    width: 2.4em;
    height: 1.9em;
  }

  .icon-reef-short {
    width: 1.5em;
    height: 1.4em;
  }

  .icon-store {
    width: 1.45em;
    height: 1.45em;
  }

  .icon-animal-magnet {
    width: 2.5em;
    height: 1.8em;
    margin-left: -0.5em;
  }

  .icon-adapt {
    width: 1.5em;
    height: 1em;
    margin-top: 0.5em;

    span {
      font-size: 0.5em;
      font-family: "MyriadPro-Bold";
      position: relative;
      top: -1.2em;
    }
  }

  .icon-quarters {
    width: 1.5em;
    height: 1.3em;
  }

  .icon-hand-cards {
    // width: 1.5em;
    // height: 1.3em;
    width: 1.6em;
    height: 1.7em;
  }
}

.action-card-level {
  font-family: serif;
  font-weight: bold;
  margin-left: 0.2em;
  font-size: 1.3em;
  vertical-align: middle;

  &.level-I {
    color: #2495c6;
  }
  &.level-II {
    color: #8d2954;
  }
}

.icon-token,
.icon-cylinder,
.icon-worker {
  background: url("img/cubes.png");
  background-size: 1000% 100%;
  width: 2em;
  height: 2em;
  flex-shrink: 0;

  @each $color in $pColors {
    $i: index($pColors, $color) - 1;
    &[data-color="#{$color}"] {
      background-position-x: $i * 100% / 9;
    }
  }
}

.icon-cylinder {
  background: url("img/cylinders.png");
  background-size: 1000% 100%;
  width: 1.7em;
  height: 1.7em;
}

.icon-worker {
  background: url("img/workers.png");
  background-size: 1000% 100%;
  width: 2em;
  height: 2em;
}

.icon-partner-Africa,
.icon-partner-Americas,
.icon-partner-Europe,
.icon-partner-Asia,
.icon-partner-Australia {
  width: 4.5em;
  height: 3.7em;

  &.selectable {
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  &.disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
    pointer-events: none;
  }
}

.icon-fac-rep-hand,
.icon-fac-science-rep,
.icon-fac-science-science,
.icon-fac-generic,
.icon-fac-science-bird,
.icon-fac-science-herbivore,
.icon-fac-science-marine,
.icon-fac-science-predator,
.icon-fac-science-primate,
.icon-fac-science-reptile {
  width: 5em;
  height: 4em;

  &.selectable {
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }

  &.disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
    pointer-events: none;
  }
}

///////////////////////////////////
/// INSIDE A BUTTTON
///////////////////////////////////

#page-title .icon-container {
  vertical-align: middle;
}

.action-button .icon-container-appeal {
  font-size: 1.2em;
  margin: -0.1em 0.08em;
  .icon-appeal {
    line-height: 1.3em;
  }
}
.action-button .icon-container-reputation {
  font-size: 1.3em;
  margin: -0.15em 0.08em;
  vertical-align: baseline;
}

.bgabutton .icon-container {
  &.icon-container-break {
    font-size: 0.7em;
  }
}

//////////////////////////////////////////////
//  ____
// | __ )  ___  _ __  _   _ ___  ___  ___
// |  _ \ / _ \| '_ \| | | / __|/ _ \/ __|
// | |_) | (_) | | | | |_| \__ \  __/\__ \
// |____/ \___/|_| |_|\__,_|___/\___||___/
//////////////////////////////////////////////

.bonus-tooltip {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;

  .arknova-bonus-container {
    font-size: 2em;
    margin-bottom: 5px;

    .arknova-bonus.bonus-multiple {
      font-size: 0.3em;
      margin: 10px 0px 5px;
    }
  }
}

.arknova-bonus-container {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  .help-marker {
    top: -4px;
    left: -7px;
  }

  .arknova-bonus {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.3em;
    box-sizing: border-box;
    max-width: 200px;

    &.income-type {
      background: #ae6db5;
      border: 3px solid #714078;
      border-radius: 0.5em;
      width: 2.8em;
      height: 2.8em;
      padding-top: 0;
    }
    &.no-background-type {
      background: none;
      .icon-container {
        font-size: 1em;
        margin: 0;
        .arknova-icon {
          margin-top: -0.3em;
          width: 3em;
          height: 3em;
        }
      }
    }
    // MAP 12
    &.strength-type {
      background: #eadb4f;
      border: 3px solid #373737;
      border-radius: 0.5em;
      width: auto;
      height: auto;
      padding: 0.1em;

      .icon-container.icon-container-strength {
        margin-top: 0;
      }
    }
    // MAP 14
    &.bonus-multiple {
      display: flex;
      font-size: 0.8em;
    }

    .icon-container {
      font-size: 1.3em;
    }

    .icon-container-money {
      font-size: 1.3em;
      .icon-money {
        border: 1px solid white;
      }
    }

    .icon-container-reputation {
      font-size: 1.5em;
    }

    .icon-container-take-in-range,
    .icon-container-snapping,
    .icon-container-clever {
      font-size: 1.2em;
    }

    .icon-partner-zoo {
      height: 1.1em;
      font-size: 1.4em;

      // [data-filter="0"] & {
      filter: brightness(120%);
      -webkit-transform: translateZ(0);
      -webkit-perspective: 1000;
      -webkit-backface-visibility: hidden;
      // }
    }

    .icon-container-fac {
      margin-top: -0.25em;
    }

    & > span {
      font-family: "MyriadPro-Bold";
      font-size: 1.1em;

      & ~ .icon-container-take-in-range {
        font-size: 1.1em;
        margin-left: 0.03em;
      }

      & ~ .icon-container-xtoken {
        font-size: 1.1em;
        margin-left: -0.01em;
      }
    }

    .icon-map10 {
      width: 2.5em;
      height: 2.4em;
      span {
        color: transparent;
      }
    }

    .icon-container-mark {
      font-size: 1.1em;
    }

    .icon-container-wave {
      font-size: 0.5em;
      clip-path: polygon(0% 0%, 80% 0%, 70% 100%, 0% 100%);
      margin-left: 31%;
    }
  }
}

.action-button {
  .arknova-bonus-container {
    font-size: 0.75em;
    margin-top: -0.2em;
    vertical-align: middle;
    // margin: 0em 0.4em -0.15em -0.6em;
    // float: left;
  }
}
.action-button.singleBonus {
  .arknova-bonus-container {
    margin: -0.1em -0.3em -0.15em -0.3em;
  }
}

#page-title .action-button.bgabutton.withbonus,
#page-title .bgabutton.withbonus {
  line-height: unset;
}
