.arknova-meeple {
    display: inline-block;
    vertical-align: middle;

    &.icon-xtoken,
    &.icon-add-worker {
        width: 1.3em;
        height: 1.3em;
    }

    &.icon-multiplier {
        width: 2em;
        height: 2em;

        &[data-state="0"] {
            opacity: 0.7;
        }
    }

    &.icon-constriction,
    &.icon-venom {
        width: 2em;
        height: 2em;
    }
}

.action-button {
    .icon-container ~ .arknova-meeple {
        margin-left: 0.5em;
    }
}
